$flatiron-blue: #26c4ff;

@import url(http://fonts.googleapis.com/css?family=Overlock:400,700,900,400italic,700italic,900italic);

@mixin border-radius($size) {
  -webkit-border-radius: $size;
     -moz-border-radius: $size;
          border-radius: $size;
}

@mixin circle($size) {
  @include border-radius($size);
  height: $size;
  width: $size;
  margin: 10px;
}

body {
  font-family: 'Overlock', 'Helvetica', 'Arial', sans-serif;
  background: url(/img/shattered-island.gif);
}

/* grid */
.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.col7 {
  width: 13%;
  display: inline-block;
}

/* layout components */
footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  .players {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
  }
}

/* type */
h1 {
  color: white;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}

/* cards */
.card {
  @include circle(100px);

  border: 2.5px solid transparent;
  position: relative;

  /* events */
  &:hover{
    cursor: pointer;
  }


  /* card status */
  &.chosen {
    border: 2.5px solid yellow;
  }
  &.disabled{
    background-color: gray;
    color: #666666;
  }
  &.playable{
    background-color: gray;
    &:hover{
      background-color: gainsboro;
    }
  }
  &.red{
    background-color: crimson;
  }
  &.black {
    background-color: black;
  }

}

.board {
  width: 900px;
  margin: auto;
}

.player {
  @include circle(150px);
  position: absolute;
  &.player1 {
    left: 0px;
    background-color: crimson;
  }
  &.player2 {
    right: 0px;
    background-color: black;
  }

  h1 {
    padding: 10px;
  }

  &.off {
   opacity: 0.2;
  }
}