%h1 an album cover
.board
  - @cards.each do |card|
    .card.col7
= partial :scoreboard
%footer
  %div
  powered by gambit and trebek, (c)2014 ashley williams
%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src=>"/connect4.js"}
