.jumbo
  %h1 gambit
  %p gambit is a serverside application that allows you to build decks and serve and save games that employ them. currently it hooks into clientside game libraries. 
  %button{:href=>"/games/new"} New Game
  %button{:href=>"/decks/new"} New Deck