!!! 5
%html
  %head
    %title Spider Solitaire
    %link{:href=>"/normalize.css", :rel=>"stylesheet"}
    %link{:href=>"/styles.css", :rel=>"stylesheet"}
    %link{:rel=>"shortcut icon", :type=>"image/png", :href=>"/img/spider-favicon.png"}
  %body
    .container
      = yield
