!!! 5
%html
  %head
    %title Memory Game
    %link{:href=>"/normalize.css", :rel=>"stylesheet"}
    %link{:href=>"/styles.css", :rel=>"stylesheet"}
    %link{:href=>"/oliversmemorygame.css", :rel=>"stylesheet"}
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src=>"/jquery.shuffle.js"}
  %body
    .container
      = yield
  %script{:src=>"/olivers_memory_game.js"}

