!!! 5
%html
  %head
    %title Memory Game
    %link{:href=>"/normalize.css", :rel=>"stylesheet"}
    %link{:href=>"/styles.css", :rel=>"stylesheet"}
    %link{:href=>"/oliversmemorygame.css", :rel=>"stylesheet"}
  %body
    .container
      = yield

