!!! 5
%html
  %head
    %title SET
    %link{:href=>"/normalize.css", :rel=>"stylesheet"}
    %link{:href=>"/styles.css", :rel=>"stylesheet"}
    %link{:href=>"/set.css", :rel=>"stylesheet"}
  %body
    .container
      = yield
