!!! 5
%html
  %head
    %title Trebek
    %link{:href=>"/normalize.css", :rel=>"stylesheet"}
    %link{:href=>"/styles.css", :rel=>"stylesheet"}
  %body
    .container
      = yield
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src=>"/trebek.js"}