/* change faceDown to faceDown and question to faceUp */
.faceDown img {
  width: 75%;
}
.faceUp img {
  width: 35%;
  margin: 0;
}
.faceUp, .num {
  display: none; /* hide faceUp and answer */
  font-size: 14.5px;
}
.faceDown, .faceUp {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 27.5px;
  color: white;
  font-weight: 700;
}
.faceDown, {
  font-size: 30px;
}