/* change faceDown to faceDown and question to faceUp */
h3 {
  color: white;
}
.faceDown img {
  width: 75%;
}
.faceUp img {
  width: 110%;
  margin-left: -5px;
  /*position: absolute;*/
}
.faceUp, .num {
  display: none; /* hide faceUp and answer */
  font-size: 14.5px;
}
.card .faceUp {
  top: 0px;
  overflow: hidden;
}
.faceDown, .faceUp {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 27.5px;
  color: white;
  font-weight: 700;
}
.faceDown, {
  font-size: 30px;
}