.mem_header
  %h2 Memory Game
  %h3 Score points by matching cards with different point values. The higher the point value, the more cards you need to match of that color. See how many points you can rack up before time runs out!
  = partial :memory_scoreboard
  = partial :memory_timer
  = partial :memory_start_button


.mem_container
  - @cards.each do |card|
    = partial(:'memory_card', @card = card)


%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src=>"/olivers_memory_game.js"}
%script{:src=>"/jquery.shuffle.js"}
