

@mixin border-radius($size) {
  -webkit-border-radius: $size;
     -moz-border-radius: $size;
          border-radius: $size;
}

.col5 {
  width: 20%;
  display: inline-block;
}

.mem_card {
  height: 25%;
  position: relative;
  border: 1px solid black;

  .points {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 27.5px;
    color: white;
    font-weight: 700;
  }

  &.played {
    display:none;
  }

  &.two {
    background-color: lightskyblue;
  }

  &.three {
    background-color: lightgreen;
  }

  &.four {
    background-color: lightsalmon;
  } 

  &.backside {
    background-color: black;
  }
}
