%h1 set

.score
  %h3 cards remaining: 81

.board
  - @cards[0..11].each_slice(3) do |slice|
    .row
      - slice.each do |card|
        = partial :set_card, @card=card

.button
  %h3 Reshuffle deck

.deck.hidden
  - @cards[12..80].shuffle.each do |card|
    = partial :set_card, @card=card

%footer
  // put finished cards here

%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src=>"/set.js"}