%h1 Spider Solitaire
.board
  - @deck = @cards.shuffle
  - 4.times do
    .column
      - 5.times do
        - @card=@deck.shift
        = partial :spider_card
  - 6.times do
    .column
      -4.times do
        - @card=@deck.shift
        = partial :spider_card
.lower
  .score
    %h1 Score: 0
  .reserve
    -6.times do
      .column
        - 10.times do
          - @card=@deck.shift
          = partial :spider_card
%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src=>"/spider.js"}