%h1 Welcome to Spider Solitaire!
%h2 Select your difficulty level.
%br
%a{:href=>"/spider/one_suit", :class=>"selection"} One Suit (Easy)
%a{:href=>"/spider/two_suits", :class=>"selection"} Two Suits (Medium)
%a{:href=>"/spider/four_suits", :class=>"selection"} Four Suits (Hard)
%br
%img{:src=>"/img/spider.png"}
