%h1 Welcome to Spider Solitaire!
%h2 Select your difficulty level.
%br
%a{:href=>"/games/students/spider/one_suit", :class=>"selection"} One Suit (Easy)
%a{:href=>"/games/students/spider/two_suits", :class=>"selection"} Two Suits (Medium)
%a{:href=>"/games/students/spider/four_suits", :class=>"selection"} Four Suits (Hard)